streamlit==1.32.0
langchain==0.2.16
langchain-community==0.2.10
langchain-openai==0.1.14
langchain-text-splitters==0.2.2
langchain-core==0.2.38
faiss-cpu==1.8.0.post1
bcrypt==4.1.2
pypdf==4.2.0
python-dotenv==1.0.1
pydantic==2.6.4
